<template>

  <div class="corpo">

    <h1 class="centralizado">{{ title }}</h1>

    <input type="search" name="" v-on:input="filtro = $event.target.value" placeholder="filtre por parte do titulo" value="">
    {{ filtro }}
    <ul class="lista-fotos">
      <li class="lista-fotos-item" v-for="foto of fotos">

        <meu-painel :titulo="foto.titulo">
          <img :src="foto.url" :alt="foto.titulo">
        </meu-painel>

      </li>
    </ul>
  </div>

</template>

<script>
import Painel from './components/shared/painel/Painel.vue'
export default {
  components: {

    'meu-painel': Painel
  },
  data (  ) {

    return {

      title: 'Cachoros em Fotos',
      fotos: [],
      filtro: ''
    }
  },
  created (  ) {

    let promisse = this.$http.get('http://localhost:3000/v1/fotos')
    /// codigo antigo
    // promisse.then( respostaServer => {
    //
    //   respostaServer.json().then( fotos => this.fotos = fotos )
    // } )

    promisse
      .then ( respostaServer => respostaServer.json() )
      .then ( fotos => this.fotos = fotos, err => console.log ( err ) )
  }
}
</script>

<style>

.corpo {
  font-family: Helvetica, sans-serif;
  width: 96%;
  margin: 0 auto;
}

.centralizado {

  text-align: center;
}

.lista-fotos {

  list-style: none;
}

.lista-fotos .lista-fotos-item {

  display: inline-block;
}
</style>
